header {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
ol {
  display: flex;
  justify-content: space-evenly;
  width: 380px;
}
a {
  color: grey;
  font-size: 18px;
}
/* Style main section */
main {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 584px;
  margin: 120px auto;
}
