p {
  color: blue;
}
em {
  color: blueviolet;
}
a {
  color: grey;
  font-size: 18px;
}
header {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
ol {
  display: flex;
  justify-content: space-evenly;
  width: 380px;
}
