body {
  margin: 0;
  padding: 0;
}
.container {
  width: 90%;
  margin-top: 0 auto;
  text-align: center;
}
header {
  width: 90%;
  margin-top: 0 auto;
  padding: 20px;
  border-bottom: 1px solid #e8eaed;
}
main {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}
main .image {
  width: 250px;
  margin: 20px;
}
main .image img {
  width: 100%;
}
footer {
  padding: 20px;
}
/* Buttons */
.button-container {
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 800px) {
  .button-container {
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
  }
}
button {
  border-radius: 6px;
  font-size: 14px;
  height: 46px;
  margin: 8px 0;
  padding: 15px 24px;
}
button:hover {
  background-color: #a4a4a4;
  color: white;
}
